* {
  box-sizing: border-box;
}

body {
  font-family: "SN Pro";
  margin: 0;
  background-attachment: fixed;
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
