* {
  box-sizing:border-box;
}

body { 
  font-family:"SN Pro";
  margin:0;
  background:#f4f7fb;
  color:#253238;
}

.site-nav ul {
  display:flex;
  gap:0;
  list-style:none;
  padding:0;
  margin:0;
}

.site-nav a {
  display:block;
  border-radius:0px;
  color:#000;
  padding:6px 6px;
  text-decoration:none;
}

.site-nav a:hover, .site-nav a.active, .site-nav a:focus {
  background:#ff2627;
  color:#fff;
}

header {
  background:linear-gradient(120deg, #ff2627, #000);
  color:#fff;
  padding:60px 20px;
  text-align:center;
}

main {
  max-width:960px;
  margin:0 auto;
  padding:40px 20px;
}

section {
  background:#fff;
  border-radius:12px;
  padding:24px;
  margin-bottom:24px;
  color:#000
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}

main ul {
  list-style:none;
}
main img {
  max-width:40%;
}
