\* {
  box-sizing: border-box;
}

body {
  font-family: "SN Pro";
  margin: 0;
  background: #f4f7fb;
  color: #253238;
}

header {
  background: linear-gradient(90deg, #ff2627, #000);
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
  background:linear-gradient(90deg,#ff2627, #000);
}

section {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  color: #000
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}

section h2 {
  margin-top: 0;
  color: #ff2627;
}

section ul {
  list-style:none;
}

.list-sec {
  list-style:disc inside;
}
.mori {
  overflow:hidden;
  background:#fff;
  border-width:0px;
  border-radius:12.5px;
  border-color:#000;
}
.mori thead {
  background:#ff2627;
  color:#fff;
  border-color:#ff2627;
  border-collapse:collapse;
}

.ex-link {
  list-style:none;
  display:flex;
  gap:12;
  padding:0;
  margin:0;
}

.ex-link a {
  padding:6px 6px;
  display:inline-block;
  border-radius:24px;
  color:#000;
  gap:0;
  margin:0;
  text-decoration:none;
}

.ex-link a:hover, .ex-link a:focus {
  color:#fff;
  background:#ff2627;
}

footer {
  padding:12px;
  text-align:center;
  background:linear-gradient(90deg, #ff2627, #000);
  font-size:0.9rem;
  color:#fff;
}

footer a {
  display:inline-block;
  padding:12px 12px;
  text-decoration:none;
  border-radius:24px;
  background:#ff2627;
  color:#fff;
}

.site-nav ul {
  display:flex;
  gap:0;
  list-style:none;
  padding:0;
  margin:0;
}

.site-nav {
  background:linear-gradient(90deg, #ff2627, #000);
}

.btn {
  display:inline-block;
  border-radius:6px;
  border-style:solid;
  padding:6px 6px;
  margin:2px;
  text-decoration:none;
  border-color:#000;
  color:#000
}

.btn-red {
  background:#ff2627;
}

.btn-clear {
  background:rgba(0, 0, 0, 0);
}

.active {
  background:#ff2627;
}

.btn:hover, .btn:focus {
  background:#ffa8a9;
  color:#fff;
}

.imgs {
  max-width:100%;
}

.img-list {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
  gap:10px;
}
