* {
  box-sizing: border-box;
}
body {
  font-family: "STIX Two Text";
  margin: 0;
  background: #f4f7fb;
  color: #253238;
}
header {
  background: linear-gradient(120deg, #ff2627, #000);
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}
section {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  color: #000
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}
section h2 {
  margin-top: 0;
  color: #ff2627;
}
.mori {
  overflow:hidden;
  background:#fff;
  border-width:0px;
  border-radius:12.5px;
  border-color:#000;
}
.mori thead {
  background:#ff2627;
  color:#fff;
  border-color:#ff2627;
  border-collapse:collapse;
}

footer {
  padding: 24px;
  text-align: center;
  background: #e8edf4;
  font-size: 0.9rem;
}
