* {
  box-sizing: border-box;
}

body {
  font-family: "SN Pro";
  margin: 0;
  background: #f4f7fb;
  color: #253238;
}

header {
  background: linear-gradient(120deg, #ff2627, #000);
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

section {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 24px;
  color: #000
  box-shadow: 0 10px 25px rgba(15, 23, 42, 0.08);
}

section h2 {
  margin-top: 0;
  color: #ff2627;
}

section ul {
  list-style:none;
}

.list-sec {
  list-style:disc inside;
}
.mori {
  overflow:hidden;
  background:#fff;
  border-width:0px;
  border-radius:12.5px;
  border-color:#000;
}
.mori thead {
  background:#ff2627;
  color:#fff;
  border-color:#ff2627;
  border-collapse:collapse;
}

.ex-link {
  list-style:none;
  display:flex;
  gap:12;
  padding:0;
  margin:0;
}

.ex-link a {
  padding:6px 6px;
  display:inline-block;
  border-radius:24px;
  color:#000;
  gap:0;
  margin:0;
  text-decoration:none;
}

.ex-link a:hover, .ex-link a:focus {
  color:#fff;
  background:#ff2627;
}

footer {
  padding:12px;
  text-align:center;
  background:#e8edf4;
  font-size:0.9rem;
}

footer a {
  display:inline-block;
  padding:12px 12px;
  text-decoration:none;
  border-radius:24px;
  background:#ff2627;
  color:#fff;
}

.site-nav ul {
  display:flex;
  gap:0;
  list-style:none;
  padding:0;
  margin:0;
}

.site-nav a {
  display:block;
  border-radius:0px;
  color:#000;
  padding:6px 6px;
  text-decoration:none;
}

.site-nav a:hover, .site-nav a.active, .site-nav a:focus {
  background:#ff2627;
  color:#fff;
}
