\* {
  box-sizing: border-box;
}

body {
  font-family: "SN Pro";
  margin: 0;
  background: #f4f7fb;
  color: #253238;
}

header {
 
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
}

.card {
    background: #fff;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 24px;
    color: #000;
}

.red-card h2 {
  margin-top: 0;
  color: #ff2627;
}

.list-nosty {
  list-style:none;
}

.list-disc {
  list-style:disc inside;
}

footer {
  padding:12px;
  text-align:center;
  font-size:0.9rem;
  color:#fff;
}

footer a {
  display:inline-block;
  padding:12px 12px;
  text-decoration:none;
  border-radius:24px;
  background:#ff2627;
  color:#fff;
}

.site-nav ul {
  display:flex;
  gap:0;
  list-style:none;
  padding:0;
  margin:0;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    border-style: solid;
    padding: 6px 6px;
    margin: 2px;
    text-decoration: none;
    border-color: #000;
    color: #000;
}

.btn-red {
  background:#ff2627;
}

.btn-clear {
  background:rgba(0, 0, 0, 0);
}

.active {
  background:#ffa8a9;
}

.btn:hover:not(.active), .btn:focus:not(.active) {
    color: #fff;
    animation: colorFade .25s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}

.imgs {
  max-width:100%;
}

.img-list {
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px;
  gap:10px;
}

.btn-fade {
    background:#000;
    transition: background .25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.btn-fade:hover {
    background:#fff;
}



@keyframes colorFade {
    0% {
        background-color:#ff2627;
    }

    100% {
        background-color:#ffa8a9;
    }
}

.blurred-gradient {
    position: relative;
    /* Your content styles here */
}

.blurred-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #ff2627 0%, #000 100%);
  filter: blur(5px);
  z-index: -1;
}

.shadow {
    position: relative;
}

.shadow::before {
  content: '';
  position: absolute;
  inset: -10px;
  border-radius: 12px;
  background: linear-gradient(360deg, #000 0%, #ff2627 100%);
  filter: blur(20px);
  opacity: .75;
  z-index: -1;
}
