.btn {
    display: inline-block;
    border-radius: 6px;
    border-style: solid;
    padding: 6px 6px;
    margin: 2px;
    text-decoration: none;
    border-color: #000;
    color: #000;
}

.btn-red {
  background:#ff2627;
}

.btn-clear {
  background:rgba(0, 0, 0, 0);
}

.active {
  background:#ffa8a9;
}

.btn:hover:not(.active), .btn:focus:not(.active) {
    color: #fff;
    animation: colorFade .25s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}

.btn-fade {
    background:#000;
    transition: background .25s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.btn-fade:hover {
    background:#fff;
}
