@keyframes colorFade {
    0% {
        background-color:#ff2627;
    }

    100% {
        background-color:#ffa8a9;
    }
}

.blurred-gradient {
    position: relative;
    /* Your content styles here */
}

.blurred-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #ff2627 0%, #000 100%);
  filter: blur(5px);
  z-index: -1;
}

.shadow {
    position: relative;
}

.shadow::before {
  content: '';
  position: absolute;
  inset: -10px;
  border-radius: 12px;
  background: linear-gradient(360deg, #000 0%, #ff2627 100%);
  filter: blur(20px);
  opacity: .75;
  z-index: -1;
}
