footer {
  padding:12px;
  text-align:center;
  font-size:0.9rem;
  color:#fff;
}

footer a {
  display:inline-block;
  padding:12px 12px;
  text-decoration:none;
  border-radius:24px;
  background:#ff2627;
  color:#fff;
}
