@keyframes colorFade {
    0% {
        background-color: var(--primary-red);
    }

    100% {
        background-color: var(--primary-red-light);
    }
}

.blurred-gradient {
  position: relative;
}

.blurred-gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, var(--primary-red) 0%, var(--bg-secondary) 100%);
  filter: blur(5px);
  z-index: -1;
}

.shadow {
    position: relative;
}

.shadow::before {
  content: '';
  position: absolute;
  inset: -10px;
  border-radius: 6px;
  background: linear-gradient(360deg, var(--shadow-from) 0%, var(--shadow-to) 100%);
  filter: blur(10px);
  opacity: .75;
  z-index: -1;
}
