.site-nav {
  position:sticky;
  top: 0;
  z-index: 999;
  padding: 5px 10px;
  backdrop-filter: blur(10px);
  background: linear-gradient(90deg, rgba(255,38,39,0.15) 0%, rgba(0,0,0,0.15) 100%);  
  display: flex;
  align-items:center;
}

.site-nav ul{
  display:grid;
  grid-template-columns:65px 75px 80px;
  gap:0;
  list-style:none;
  padding:0;
  margin:0;
}


